In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('./datasets/sales/sales/sales.csv',index_col='month')

In [9]:
df.head()

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52

In [17]:
print(df['salt']['Feb'])
print(df.eggs['Mar'])
#better to use accessors (.loc and .iloc)
print(df.loc['Mar','eggs'])
print(df.loc['Mar':'Jun',['eggs','spam']])
print(df.iloc[0,0]) #note the 0,0 starts with first row and first column

50.0
221
221
       eggs  spam
month
Mar     221    72
Apr      77    20
May     132    52
Jun     205    55
47