In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
sns.set()

In [2]:
df = pd.read_csv("./datasets/2008_swing_states.csv")

In [3]:
df.head()

  state           county  total_votes  dem_votes  rep_votes  dem_share
0    PA      Erie County       127691      75775      50351      60.08
1    PA  Bradford County        25787      10306      15057      40.64
2    PA     Tioga County        17984       6390      11326      36.07
3    PA    McKean County        15947       6465       9224      41.21
4    PA    Potter County         7507       2300       5109      31.04

In [6]:
g=df.groupby(by='state',axis=0,as_index=False)

In [8]:
g.agg({'dem_share':['mean','median','max','min'],'total_votes':['mean','median']})

  state  dem_share                          total_votes
              mean  median    max    min           mean   median
0    FL  41.325075  41.850  69.58  17.06  125234.985075  49031.0
1    OH  44.318182  43.675  69.64   6.80   64640.465909  25687.5
2    PA  45.476418  44.030  83.56  25.34   89479.656716  37302.0