In [37]:
import pandas as pd
import numpy as np

In [180]:
df=pd.read_excel('./datasets/example.xlsx',parse_dates=False)

In [81]:
df.head()

          ds  user_id  post_id    action            extra
0 2018-07-01        1        1      view              NaN
1 2018-07-01        1        2      like              NaN
2 2018-07-01        2        3  reaction             love
3 2018-07-01        3        4   comment  interesting hat
4 2018-07-01        4        2    report              spm

In [82]:
df.set_index('ds',inplace=True)

In [85]:
df.loc['2018-07-02']

            user_id  post_id  action extra
ds
2018-07-02        3        2  report   spm
2018-07-02        3        2    view   NaN

In [57]:
filter=(df['ds']=='2018-07-01')&(df['action']=='report')
df=df[filter]
e_grp=df.groupby('extra')

In [58]:
(e_grp['post_id'].count())

extra
nud    2
spm    2
Name: post_id, dtype: int64

In [177]:
type(e_grp['post_id'].count())

pandas.core.series.Series

In [59]:
#(df.groupby('param')['group'].nunique())
print(df.groupby('extra')['post_id'].nunique())
(df.groupby('extra')['post_id'].nunique()).loc['nud']

extra
nud    1
spm    2
Name: post_id, dtype: int64

1

In [61]:
df

          ds  user_id  post_id  action extra
4 2018-07-01        4        2  report   spm
5 2018-07-01        5        2  report   nud
6 2018-07-01        6        2  report   nud
7 2018-07-01        7        5  report   spm

In [70]:
df3=pd.read_excel('./datasets/example2.xlsx')
df3

          ds  reviewer_id  post_id
0 2018-07-01            1        2
1 2018-07-01            2       13

In [66]:
filter=df['action']=='view'
df=df[filter]
dgrp=df.groupby('ds')
tcv=dgrp['post_id'].nunique()
print(tcv)

ds
2018-07-01    5
2018-07-02    1
Name: post_id, dtype: int64

In [79]:
filter2=(df['action']=='report')&(df['extra']=='spm')#using the original unfiltered dataframe df
dff2=df[filter2]
dfn=pd.merge(dff2,df3,how='left',on='post_id')
print(dfn)
dfn.dropna(inplace=True)
dfn
tcs=dfn.groupby('ds_x')['post_id'].nunique()
print(tcs)
((tcs/tcv)*100).mean()

        ds_x  user_id  post_id  action extra       ds_y  reviewer_id
0 2018-07-01        4        2  report   spm 2018-07-01          1.0
1 2018-07-01        7        5  report   spm        NaT          NaN
2 2018-07-02        3        2  report   spm 2018-07-01          1.0
ds_x
2018-07-01    1
2018-07-02    1
Name: post_id, dtype: int64

60.0

In [43]:
pd.datetime.today()

datetime.datetime(2019, 1, 21, 12, 58, 40, 247168)

In [178]:
 str(pd.to_datetime('today'))

'2019-01-21 16:19:11.024631'

In [181]:
df=pd.read_excel('./datasets/example3.xlsx')

In [129]:
df.set_index('date',inplace=True)

In [131]:
df.reset_index(inplace=True)

In [182]:
df.sort_values(by=['user_id_from'],ascending=False)

    user_id_from  user_id_to       date  action
5              5           3 2018-12-12    sent
8              5           3 2018-12-12  accept
4              2           5 2018-12-12    sent
7              2           5 2018-12-12  reject
0              1           2 2018-12-12    sent
1              1           3 2018-12-12    sent
2              1           4 2018-12-12    sent
3              1           5 2018-12-12    sent
6              1           4 2018-12-12  accept
9              1           6 2018-12-11    sent
10             1           5 2018-12-13  accept

In [122]:
df=df.loc['2018-12-12']

In [123]:
df['invite_id']=df['user_id_from'].astype(str)+"-"+df['user_id_to'].astype(str)

In [124]:
df.groupby('action')['invite_id'].nunique().loc['accept']/(df.groupby('action')['invite_id'].nunique().loc['sent'])

0.3333333333333333

In [127]:
df.set_index(['user_id_from','user_id_to'])

                              date  action
user_id_from user_id_to
1            2          2018-12-12    sent
             3          2018-12-12    sent
             4          2018-12-12    sent
             5          2018-12-12    sent
2            5          2018-12-12    sent
5            3          2018-12-12    sent
1            4          2018-12-12  accept
2            5          2018-12-12  reject
5            3          2018-12-12  accept
1            6          2018-12-11    sent
             5          2018-12-13  accept

In [107]:
df['user_id_from'].map(str)

date
2018-12-12    1
2018-12-12    1
2018-12-12    1
2018-12-12    1
2018-12-12    2
2018-12-12    5
2018-12-12    1
2018-12-12    2
2018-12-12    5
Name: user_id_from, dtype: object

In [133]:
df=pd.read_excel('./datasets/example4.xlsx')

In [136]:
df

   user_id action        date  time
0        1     on  12/12/2018     1
1        1    off  12/12/2018     2
2        2     on  12/12/2018     3
3        3    off  12/12/2018     4
4        4     on  12/12/2018     4
5        5    off  12/12/2018     4
6        1     on  12/12/2018     5
7        3     on  12/12/2018     6
8        2    off  12/13/2018     1

In [140]:
df['date']=df['date'].astype('str')

In [141]:
df.dtypes

user_id     int64
action     object
date       object
time        int64
dtype: object

In [142]:
df['date']=pd.to_datetime(df['date'])

In [143]:
df.dtypes

user_id             int64
action             object
date       datetime64[ns]
time                int64
dtype: object

In [144]:
df.set_index('date',inplace=True)

In [166]:
df1=df.loc['2018-12-12']
filter=df1['action']=='on'
df1=df1[filter]
users_on_t=df1['user_id'].nunique()
#users_on_e=(df[filter])['user_id'].nunique()
print(users_on_t)
#print(users_on_e)

4

In [176]:
df=pd.read_excel('./datasets/example4.xlsx')
df['date']=pd.to_datetime(df['date'])
df.set_index('date',inplace=True)
filter=df['action']=='on'
df1=df[filter]
users_on_t=df1.loc['2018-12-12','user_id'].nunique()
print(users_on_t)
df1.reset_index(inplace=True)
users_on_e=df1['user_id'].nunique()
print(users_on_e)

4
5